html {
    color: ;
    font-size: ;
    line-height: ;
}



/* ===========================================
      Author's custom styles
    =========================================== */

    body {

    }

    .logo a img {
        width: 300px;
        margin: 10px 0 0 120px;
        float: left;
    }

   .nav-container {
        margin-right: 120px;
   }

   .nav-container nav {
        float: right;
   }
   .nav-container .wrapper {

   }

   .nav-container nav a {
       text-decoration: none;
       color: rgba(0, 150, 207, 1);
       font-weight: 600;
   }
   .nav-container nav li {
       display: inline-block;
       margin: 20px;
       font: 16px/26px Muli, Squada;
   }



   .main {
       clear: left;
       padding: 60px 160px 40px;
   }



   .footer-container {
        clear: right;
   }

   .footer-container footer {
       color: black;
       padding: 20px 0;
       text-align: center;
   }
   .footer-container .wrapper {

   }

   .footer-container .wrapper .credit {
       margin: 3px 0;
   }

   .footer-container footer a {
       text-decoration: none;
       color: rgba(0, 150, 207, 1);
       font-weight: 600;
   }
   .footer-container footer a:hover {
       color: #333333;
   }

   .credit {
       color: #333333;
       text-align: center;
       margin: 40px 0 34px 0;
       font: lighter 16px/26px Muli, Squada;
   }



/* ===========================================
      Media styles
    =========================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}



/* ===========================================
      Print styles
    =========================================== */

@media print {

}
