html {
    color: ;
    font-size: ;
    line-height: ;
}

/* ===========================================
   Author's custom styles
   ============================================ */

   .nav-container {

   }

   .nav-container .wrapper {

   }



   .footer-container {

   }

   .footer-container .wrapper {

   }

   .footer-container .wrapper .credit {
       margin: 3px 0;
   }
